    // font-family: 'Federo', sans-serif;

    // font-family: 'Jura', sans-serif;

    // font-family: 'Michroma', sans-serif;

    // font-family: 'Roboto', sans-serif;

    // font-family: 'Seaweed Script', cursive;

    // font-family: 'Titillium Web', sans-serif;
    // !!!!!!!!!!REMEMBER TO REMOVE FONTS THAT ARE NOT USED FROM THE HTML PAGE !!!!!!!!!!!!

    // #EC9F05

    $headings: "Federo", sans-serif;
    $buttonText: "Titillium Web", sans-serif;
    $leadText: "Seaweed Script", cursive;
    $bodyText: "Roboto Condensed", sans-serif;

    $background: #FFF;
    $primary:  #DADDD8;
    $secondary: #1C1C1C;
    $accentOne: #A4031F;
    $accentTwo: rgba(236, 159, 5, 0.9);


   