// PAGE STYLES

header,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  justify-content: center;
}

button,
input,
p,
li {
  font-size: 2rem;
}

p,
li {
  font-family: $bodyText;
}

h1,
h2,
button,
header p {
  color: $secondary;
}

h1,
button {
  position: relative;
}
// HEADER
header {
  height: 100vh;
  background-color: $primary;
  background-image: url(../images/headerImage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  h1 {
    font-family: $headings;
    font-size: 4rem;
    letter-spacing: 0.2rem;
    bottom: 2rem;
  }
  p {
    font-family: $leadText;
    margin: 0 2rem;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 0.1rem;
    font-weight: 700;
  }
  button {
    top: 35%;
  }
}

button {
  text-transform: uppercase;
  width: 15rem;
  height: 4rem;
  background-color: $accentTwo;
  border: 4px solid $accentOne;
  // font-weight: 600;
  margin: 2rem 0;
}

.searchSection{
  height: 80vh;
}

form {
  width: 90%;
  margin: 0 auto;
}

input {
  height: 4rem;
  width: 100%;
  margin: 6rem auto 0;
  padding: 0 1rem;
}

// MAIN

.results{
    margin: 1rem;
    .searchedTitle{
      font-family: $headings;
      font-size: 3rem;
      margin: 2rem 0 0;
    }
    p{
        margin: .5rem 0;
    }
    .summaryTitle{
      text-align: center;
      padding-top: 2rem;
    }
    .searchedTitleHr{
      margin-bottom: 2rem;
    }
    .searchedInfo hr{
      width: 60%;
      margin-bottom: 2rem;
    }
    .genresInfo{
      display:flex;
      flex-direction: column;
    }
}

footer{
  background-color: $secondary;
  color: $primary;
  text-align: center;
  height: 5rem;
}
