// PAGE STYLES
header,
.moreRandom,
.randomSection {
  @include flex(flex, column, center, center);
}

.genresInfo {
  display: flex;
  flex-direction: column;
}

button,
input,
p,
li {
  font-size: 2rem;
}

p,
li {
  font-family: $bodyText;
}

h1,
h2,
button,
header p {
  color: $secondary;
}

h1,
button,
.enteredSite p {
  position: relative;
}

h1,
.searchedTitle {
  font-family: $headings;
}

header p,
.summaryTitle,
footer {
  text-align: center;
}

button,
input {
  height: 4rem;
}

.searchSection,
.randomSection {
  margin: 1rem;
}

button:hover,
button:focus-within {
  cursor: pointer;
}

.clearSearch:hover,
.clearSearch:focus-within,
.toTopButton:hover,
.toTopButton:focus-within,
button:hover,
button:focus-within {
  transition: 0.2s;
}

.clearSearch:hover,
.clearSearch:focus-within {
  border-width: 4px;
  transition: 0.2s;
}

button,
.moreRandom {
  margin: 2rem 0;
}

input,
.suggestions,
.moreRandom {
  width: 100%;
}

.clearSearch,
.searchedTitle {
  margin: 2rem 0 0;
}

header,
.suggestions,
.moreRandom,
.randomResults .showContainer:nth-child(even) {
  background-color: $primary;
}

// HEADER
header {
  height: 100vh;
  background-image: url(../images/headerImage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  h1 {
    font-size: 4rem;
    letter-spacing: 0.2rem;
    bottom: 2rem;
  }
  p {
    font-family: $leadText;
    margin: 0 2rem;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
  }
  button {
    top: 35%;
  }
}

button {
  text-transform: uppercase;
  width: 15rem;
  background-color: $accentTwo;
  border: 4px solid $accentOne;
}

form {
  @include flex(flex, column, auto, center);
  margin: 0 auto;
}

input {
  margin: 6rem auto 0;
  padding: 0 1rem;
}

.clearSearch,
.toTopButton {
  background-color: #fff;
  text-transform: none;
  text-transform: none;
  font-size: 1.7rem;
  padding: 0;
  margin: 0.2rem 0 2rem;
  width: 27rem;
}

.toTopButton:hover,
.toTopButton:focus-within {
  font-size: 1.8rem;
}

.toTopButton {
  align-self: center;
  height: 0;
  border: none;
}

.clearSearch {
  border: 1px solid $secondary;
}

// MAIN

// !!!!!!!!! REMEMBER TO REMOVE THIS AS WELL AS THE HTML AND JS REFERENCE IF NOT BEING USED !!!!!!!!!!!!!
.enteredSite {
  height: 50vh;
}

.enteredSite h1,
.enteredSite p {
  bottom: 4rem;
}

.searchedTitle {
  font-size: 3rem;
}
p {
  margin: 0.5rem 0;
}
.summaryTitle {
  padding-top: 2rem;
}
.searchedTitleHr,
.searchedInfo hr {
  margin-bottom: 2rem;
}
.searchedInfo hr {
  width: 60%;
}

.suggestions,
.moreRandom {
  font-weight: 600;
  text-align: center;
}

.suggestions {
  padding: 2rem;
}

.moreRandom {
  padding: 2rem 1rem;
  button {
    margin: 1rem 0 0;
  }
}

.randomResults .showContainer:nth-child(even) {
  border-radius: 0.2rem;
}

.showContainer {
  padding: 1rem;
}
// FOOTER
footer {
  background-color: $secondary;
  color: $primary;
  height: 5rem;
}
