@media (min-width: 768px){

    .results{
        display: grid;
        grid-template-areas: "title title title"
                             "image info info"
                             "image info info";
        gap: 2rem;
        
    }

    .searchedTitle{
        grid-area: title;
        padding: 0 0 1rem 1rem;
        border-bottom: 2px solid black;
    }

    .searchedImage{
        grid-area: image;
    }

    .searchedInfo{
        grid-area: info;
    }

    .languageAndRating{
        display: flex;
    }

    .languageAndRating p:last-child{
        padding: 0 2rem;
    }

   


}