@media (min-width: 768px) {
  header {
    h1 {
      font-size: 8rem;
    }
    p {
      font-size: 4rem;
    }
  }
  .results .showContainer,
  .randomResults .showContainer:nth-child(3n) {
    display: grid;
  }

  .randomResults {
    display: flex;
    flex-wrap: wrap;
  }

  .results .showContainer,
  .randomResults .showContainer:nth-child(3n) {
    grid-template-areas:
      "title title title"
      "image info info"
      "image info info";
    gap: 2rem;
  }

  .randomResults .showContainer {
    margin: 1rem;
    width: calc(50% - 2rem);
  }

  .randomResults .showContainer:nth-child(3n) {
    width: 100%;
  }

  .searchedTitle {
    grid-area: title;
    padding: 0 0 1rem 1rem;
    border-bottom: 2px solid $secondary;
  }

  .searchedImage {
    grid-area: image;
  }

  .searchedInfo {
    grid-area: info;
  }

  .languageAndRating {
    display: flex;
  }

  .languageAndRating p:last-child {
    padding: 0 2rem;
  }

  .suggestions,
  .moreRandom {
    width: 80%;
  }

  form{
      flex-direction: row;
      button{
          margin-top: 8rem;
      }
  }
}
