html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
  display: block;
}

html {
  font-size: 63.5%;
}

h1,
h2,
input {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.smallWrapper {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

header,
.moreRandom,
.randomSection,
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.genresInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

button,
input,
p,
li {
  font-size: 2rem;
}

p,
li {
  font-family: "Roboto Condensed", sans-serif;
}

h1,
h2,
button,
header p {
  color: #1C1C1C;
}

button,
header div,
header div.enteredSite {
  position: relative;
}

h1,
.searchedTitle {
  font-family: "Federo", sans-serif;
}

header p,
.summaryTitle,
footer {
  text-align: center;
}

button,
input {
  height: 4rem;
}

.searchSection,
.randomSection {
  margin: 1rem;
}

button:hover,
button:focus-within {
  cursor: pointer;
}

.clearSearch:hover,
.clearSearch:focus-within,
.toTopButton:hover,
.toTopButton:focus-within,
button:hover,
button:focus-within {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.clearSearch:hover,
.clearSearch:focus-within {
  border-width: 4px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

button,
.moreRandom {
  margin: 2rem 0;
}

input,
.suggestions,
.moreRandom {
  width: 100%;
}

.clearSearch,
.searchedTitle {
  margin: 2rem 0 0;
}

header,
.suggestions,
.moreRandom,
.randomResults .showContainer:nth-child(even) {
  background-color: #DADDD8;
}

img {
  max-height: 70rem;
}

header {
  height: 100vh;
  background-image: url(../images/headerImage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header h1 {
  font-size: 4rem;
  letter-spacing: 0.2rem;
  text-shadow: 5px 5px 5px #FFF;
}

header p {
  font-family: "Seaweed Script", cursive;
  margin: 0 2rem;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-shadow: 5px 5px 5px #FFF;
}

header button {
  bottom: -20rem;
}

header div {
  bottom: 6rem;
}

header .enteredSite {
  bottom: 0rem;
}

.enteredSite h1 {
  top: 100;
}

button {
  text-transform: uppercase;
  width: 15rem;
  background-color: rgba(236, 159, 5, 0.9);
  border: 4px solid #A4031F;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

input {
  margin: 6rem auto 0;
  padding: 0 1rem;
}

.clearSearch,
.toTopButton {
  background-color: #fff;
  text-transform: none;
  text-transform: none;
  font-size: 1.7rem;
  padding: 0;
  margin: 0.2rem 0 2rem;
  width: 27rem;
}

.toTopButton:hover,
.toTopButton:focus-within {
  font-size: 1.8rem;
}

.toTopButton {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 0;
  border: none;
}

.clearSearch {
  border: 1px solid #1C1C1C;
}

.enteredSite {
  height: 50vh;
}

.enteredSite h1,
.enteredSite p {
  bottom: 4rem;
}

.searchedTitle {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.searchSection .errorMessage {
  text-align: center;
  margin: 3rem auto 5rem;
  font-weight: 600;
}

p {
  margin: 0.5rem 0;
}

.summaryTitle {
  padding-top: 2rem;
}

.searchedInfo hr {
  width: 60%;
  margin-bottom: 2rem;
  color: #1C1C1C;
}

.suggestions,
.moreRandom {
  font-weight: 600;
  text-align: center;
}

.suggestions {
  padding: 2rem;
}

.moreRandom {
  padding: 2rem 1rem;
}

.moreRandom button {
  margin: 1rem 0 0;
}

.randomResults .showContainer:nth-child(even) {
  border-radius: 0.2rem;
}

.showContainer {
  padding: 1rem 1rem 5rem;
}

footer {
  background-color: #1C1C1C;
  color: #DADDD8;
  height: 5rem;
}

@media (min-width: 768px) {
  header h1 {
    font-size: 8rem;
  }
  header p {
    font-size: 4rem;
  }
  .results .showContainer,
  .randomResults .showContainer:nth-child(3n) {
    display: -ms-grid;
    display: grid;
  }
  .randomResults {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .results .showContainer,
  .randomResults .showContainer:nth-child(3n) {
        grid-template-areas: "title title title" "image info info" "image info info";
    gap: 2rem;
  }
  .randomResults .showContainer {
    margin: 1rem;
    width: calc(50% - 2rem);
  }
  .randomResults .showContainer:nth-child(3n) {
    width: 100%;
  }
  .searchedTitle {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: title;
    padding: 0 0 1rem 1rem;
    border-bottom: 2px solid #1C1C1C;
  }
  .searchedImage {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: image;
  }
  .searchedInfo {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: info;
  }
  .languageAndRating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .languageAndRating p:last-child {
    padding: 0 2rem;
  }
  .suggestions,
  .moreRandom {
    width: 80%;
  }
  form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  form button {
    margin-top: 8rem;
  }
}

@media (min-width: 1100px) {
  header h1 {
    font-size: 11rem;
  }
  header p {
    font-size: 5.5rem;
  }
}
